html {
  background-color: #1b1b1b;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  margin: 1em 0 1em 0;
  font-size: 20pt;
  background-color: transparent;
  color: #f5f5f5;
}

.sub_header {
  margin: 1em 0 1em 0;
  background-color: transparent;
  text-align: left;
}

.sub_header h1 {
  color: #ffc107;
  font-weight: 900;
  margin: 0;
}

.sub_header p {
  color: #e0e0e0;
}

.card-place, .card-dish {
  background-color: #2B2B2B;
  margin: 1em 0 1em 0;
  border-radius: 10px;
  color:#eeeeee;
  height: 6em;
  text-align: left;

  -webkit-box-shadow: 3px 9px 20px 1px rgba(0,0,0,0.29);
  -moz-box-shadow: 3px 9px 20px 1px rgba(0,0,0,0.29);
  box-shadow: 3px 9px 20px 1px rgba(0,0,0,0.29);
}

.card-dish {
  border-radius: 5px;
  border-left: 5px solid #ffc107;
}

.card-dish #card-dish-content {
  padding-top: 0.5em;
}

.card-place div {
  padding-top: 1.2em;
}

.card-place h3 {
  font-weight: 600;
  margin: 0 0 0.3em 0;
}

.card-dish #title {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.card-dish #title span, .card-dish p {
  margin: 10px;
}

.card-place div {
  margin: 20px;
}

.card-place p {
  font-size: 14pt;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

input[type="text"], textarea {
  height: 2em;
  border-width: 0px;
  padding: 8px 0px 8px 0px;
  border-radius: 5px;
}

label {
  display: block;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 2em;
  color:#eeeeee;
}

p {
  color:#eeeeee;
  font-size: 10pt;
}

a {
  text-decoration: none;
}